.canvas-cont {
    position: relative;
    display: flex;
    flex-direction: row;
}

.canvas {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

.hover-tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    white-space: normal;
    word-wrap: break-word;
}

.hover-tt-cont {
    text-align: center;
}

.side-tooltip {
    width: 100%;
    padding-left: .5em;
}
.side-tt-label-row {
    display: flex;
    gap: .35em;
} 
#usd-price{
    text-align: right;
    padding-right: 2em;
}

.side-tt-has-cont{
    display: flex;
    flex-direction: column;
}
.side-tt-has-cont>.side-tt-label-row {
    padding-left: 0.5em;
    justify-content: space-between;
}

.side-tt-has-val {
    text-align: right;
}

#no-val {
    color: orangered;
}
#yes-val {
    color: greenyellow;
}