.canvas-cont {
    position: relative;
    display: flex;
    flex-direction: row;
}

.canvas {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

/* cuz of top, left dynamic in Polska.tsx ln: 182, col: 11 */
.hov-tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    white-space: normal;
    word-wrap: break-word;
}
.side-tooltip {
    width: 100%;
    padding-left: .5em;
}

.tt-attr-container {
    text-align: center;
}

.side-tt.tt-attr-val {
    padding-left: .5em;
}