.horizontal-slider {
    /* width: 100%; */
    /* max-width: 500px; */
    height: 2em;
    margin: .7em 0;
}

.horizontal-slider .price-track {
    top: .7em;
    height: 7px;
}

.price-track {
    border-radius: 7px;
}

.price-track.price-track-0, .price-track.price-track-2 {
    background: #1a1a1a;;
}

.price-track.price-track-1 {
    background: lightskyblue;
}

.horizontal-slider .price-handle {
    /* top: 1px; */
    width: 2em;
    height: 2em;
    line-height: 1.2em;
    border-radius: 50%;
    font-size: 0.9em;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 5px solid #1a1a1a;;
    box-sizing: border-box;
}